@using VBS.Data.Models
@model IEnumerable<Player>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <title>PlayerList</title>
</head>
<body>
    <h2>Игроки</h2>
    @{
        foreach(var player in Model) {
            <div class="player-line">
                <div class="fullname">@player.LastName @player.FirstName.Substring(0, 1) .</div>
                <div class="position">@player.Position</div>
                <div class="player-number">@player.PlayerNumber</div>
            </div>
        }
    }
</body>
</html>